TYPE=ETHERNET
NAME=eth0
DEVICE=eth0
BOOTPROTO=static
IPV6INIT=no
ONBOOT=yes
IPADDR={{ vmnet.net }}.{{ item.value.id }}
NETMASK={{ vmnet.netmask }}
GATEWAY={{ vmnet.gateway }}
DNS1={{ vmnet.dns }}
DOMAIN={{ vmnet.domain }}
